/* Resetting default styling */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  color: #333;
}

/* Header styling */
.header {
  background-color: #004332;
  color: #fff;
  padding: 2px;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: top 0.3s; /* Smooth transition for sticky effect */

}

.header.fixed {
  position: fixed; /* Fixes the header only when scrolled */
  top: 0;
  left: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  padding-right: 20px;
}

.logo {
  width: 100px;
}

.logos{
  width:30px;
  right: 0;

}

.navbar a {
  color: #c0a159;
  margin: 0 15px;
  text-decoration: overline;
  font-size: 0.9rem;
  transition: color 0.3s;
}



.navbar{
    margin-top: 20px;
}

.navbar a:hover {
  text-decoration: underline;
  color: #7ED4AD;
}















/* Hero Section Styling */
.hero {
  background: url('hero-background.jpg') no-repeat center center/cover;
  color: #7ED4AD;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.hero-btn {
  padding: 10px 20px;
  background-color: #e6b800;
  border: none;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: #cc9900;
}

.content-section{
  width: 100%;

}

img{
  border-radius:50%;
}

/* Footer Styling */
.footer {
  background-color: #004332;
  color: #c0a159;
  text-align: center;
  padding: 5px 0;
}

.social-media a {
  margin: 0 10px;
}

.P,
.Q,
.R {
  width: 25px;
  height: 25px;
}
