body {
  font-family: 'Georgia', serif;
  background-color: #fdfbf7;
  color: #333;
  margin: 0;
  padding: 0;
}

.reservation-section {
  display: flex;
  justify-content: center;
  align-items: center;
 color: #004332;
  padding: 20px;
  background-color: #faf3e0;
}

.reservation-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.reservation-container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.reservation-container p {
  margin-bottom: 20px;
  color: #666;
}

.reservation-form .form-group {
  margin-bottom: 15px;
  text-align: left;
}

.reservation-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.reservation-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reservation-btn {
  background-color: #ffcc00;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.reservation-btn:hover {
  background-color: #e6b800;
}
